<div class = "container">
<%= content_tag :h1, @recipe.name %>
<div class="row row-cols-2 text-start">
  <%= content_tag :p, "Preparation time: #{@recipe.preparation_time}", class: "col-6" %>
  <% if @modify %>
  <div class='col-6 text-end'> <%= button_to @recipe.public ? 'Is Public' : 'Is Private', update_public_path, method: :patch %> </div>
  <% end %>
  <%= content_tag :p, "Cooking Time: #{@recipe.cooking_time}", class: "col-12" %>
  <%= content_tag :p, "Instructions: #{@recipe.description}", class: "col-12" %>
  <% if @modify %>
  <%= button_to 'Generate shopping list', shopping_list_index_path, method: :get, class: "col-6" %>
  <div class='col-6 text-end'> <%= button_to 'Add ingredient', new_recipe_food_path(@recipe), method: :get %> </div>
  <% end %>
</div>
<hr>
<table class='table table-striped'>
  <tr>
    <th>food</th>
    <th>Quantity</th>
    <th>Value</th>
    <% if @modify %>
      <th>Actions</th>
    <% end %>
  </tr>
  <% @recipe.recipe_foods.includes(:food).each do |rf| %>
   <tr>
      <td><%= rf.food.name %></td>
    <td><%= "#{rf.quantity} #{rf.food.measurement_unit}" %></td>
      <td><%= rf.food.price*rf.quantity %></td>
      <% if @modify %>
      <td class= "d-flex flex-row justify-content-center">
        <%= button_to 'Modify', edit_recipe_food_path(rf), method: :get %>
        <%= button_to 'Remove', recipe_food_path(rf), method: :delete %> 
      </td>
      <% end %>
    </tr>
  <% end %>
</div>
</table>
<% if @modify %>
<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete, class:"btn btn-danger" %>
</div>
<% end %>